* {
  /* seletor universal */
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  --black: hsl(240, 6%, 13%); /* guarda a cor em uma variavel*/
  --gray: hsla(240, 9%, 89%); /* hsl(cor, saturacao, luz) */
  display: grid;
  place-items: center; /* coloca os itens centralizados*/
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased; /* o webkit significa que a propriedade que vem a frente dele so vai funcionar em navegadores que são webkit. */
}

main {
  background: url(imagens/background.svg);
  width: 375px; /* Largura */
  height: 812px; /* Altura */
}
.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; /* propriedade de alinhamento central, vai centralizar apenas textos. */
  color: var(--gray);
}

.avatar {
  width: 10rem; /* rem tem uma relaçao com o pixel padrao da pagina */
  margin: 11.5rem auto 0; /* top e bottom na ordem */
  position: relative; /*essa propriedade limita o absoluto apenas no espaco do avatar, e nao da pagina inteira*/
}

.avatar span {
  /* vai procurar no avatar o span que tem la dentro*/
  position: absolute; /* permite que se crie niveis de empilhamento, podendo agora sobrepor algo, so que é absoluto na pagina inteira*/
  top: -15px;
  z-index: 1; /* vai trabalhar qual que é o posicionamento no eixo z(eixo de profundidade)*/
}

.avatar > img {
  /* o sinal de maior significa que ele vai procurar a imagem que estao no primeiro nivel.*/
  width: 10rem;
  height: 11.5rem;
  object-fit: cover; /*essa propriedae faz com que a imagem se adapte dentro das larguras e alturas definidas, e o atributo cover vai cobrir todo o espaço */
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none; /* remove as bolinhas ao lado de cada item da listagem*/
  padding: 0; /* preenchimento interno*/
  display: flex; /* o flex faz com que os elementos fiquem automaticamente um ao lado do outro. O flex libera o gap e o justify-content, o grid tambem libera ambos*/
  gap: 0.5rem;
  justify-content: center; /* coloca o conteudo no meio do eixo*/
}
